<!-- nav bar with logo and search bar  -->
<div class="body">
  <nav class="navbar sticky-top navbar-light bg-light; navbar navbar-light" style="background-color:rgb(201, 194, 194);">
      <div class="container-fluid">
          <img src="../../assets/images/logo.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <a class="navbar-brand ms-2">Budget Tracker</a>
        <form class="d-flex ms-auto">
          <button type="button" class="btn btn-secondary me-3" routerLink="budget-planner/login">Login</button>
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </nav>
  
    <!-- body of landing page  -->
    <!-- iniline style  -->
    <div class="container vh-100 d-flex justify-content-center align-items-center">
      <div class="text-center p-5 shadow-lg" style="background-color:rgb(222, 78, 121); border-radius: 15px; box-shadow: 0 4px 20px purple;">
      <div class="text-center p-5 shadow-lg" style="background-color:rgb(243, 228, 215); border-radius: 15px; box-shadow: 0 4px 20px purple;">
        <div class="display-4">
          <h1 style="font-size: 1.8 rem;">Track Your Expenses Like Never Before</h1>
          <p style="font-size: 1.5rem;">Take Control of Your Finances with Our Powerful Expense Tracker Application!</p>
        </div>
      </div>
  </div>
  
  </div>
  