.body {
    background-color: #f8f9fa; /* Light background for contrast */
    background-image: url('../../assets/images/WhatsApp\ Image\ 2024-10-16\ at\ 1.52.20\ AM.jpeg');
    background-position: cover;
   background-repeat: no-repeat;
   background-size: cover;
   
  }

  
  