<!-- image and nav bar  -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="asset/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Budget Tracker
      </a>
      <button type="button" class="btn btn-primary" routerLink="./budget-planner/login">Login</button>
      <button type="button" class="btn btn-light" routerLink="">Sign up</button>
    </div>
  </nav>
<router-outlet></router-outlet>